html,
body {
  margin: 0;
}

canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

#jp_container_1 {
  display: none;
}

.dj {
  color: #fff;
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 0;
  left: 50%;
  /* transform: scaleY(1.5); */
}

.chatango {
  position: absolute;
  width: 500px;
  height: 500px;
  z-index: 0;
}
